# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Quasar
.quasar
/dist

# Capacitor
/src-capacitor/www
/src-capacitor/node_modules
/src-capacitor/android
/src-capacitor/ios

# Cordova (if unused)
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example
backend/.env

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache

# Misc
*.pem
/notes